{
  "openapi": "3.0.3",
  "info": {
    "title": "iRacing /data API",
    "description": "Unofficial OpenAPI specification for the iRacing /data API, generated from actual response data.",
    "version": "0.1.0",
    "contact": {
      "name": "popmonkey, Jason Chess, and Gemini 3 (@ https://json.racing)"
    }
  },
  "servers": [
    {
      "url": "https://members-ng.iracing.com"
    }
  ],
  "paths": {
    "/data/car/assets": {
      "get": {
        "summary": "/data/car/assets",
        "description": "Access the /data/car/assets endpoint.",
        "operationId": "AssetsCar",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarAssetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/car/get": {
      "get": {
        "summary": "/data/car/get",
        "description": "Access the /data/car/get endpoint.",
        "operationId": "GetCar",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/carclass/get": {
      "get": {
        "summary": "/data/carclass/get",
        "description": "Access the /data/carclass/get endpoint.",
        "operationId": "GetCarclass",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CarclassGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/constants/categories": {
      "get": {
        "summary": "/data/constants/categories",
        "description": "Access the /data/constants/categories endpoint.",
        "operationId": "CategoriesConstants",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsCategoriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/constants/divisions": {
      "get": {
        "summary": "/data/constants/divisions",
        "description": "Access the /data/constants/divisions endpoint.",
        "operationId": "DivisionsConstants",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsDivisionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/constants/event_types": {
      "get": {
        "summary": "/data/constants/event_types",
        "description": "Access the /data/constants/event_types endpoint.",
        "operationId": "Event_typesConstants",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConstantsEvent_typesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/driver_stats_by_category/dirt_oval": {
      "get": {
        "summary": "/data/driver_stats_by_category/dirt_oval",
        "description": "Access the /data/driver_stats_by_category/dirt_oval endpoint.",
        "operationId": "Dirt_ovalDriver_stats_by_category",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "Raw CSV data. First line is usually the header."
                }
              }
            }
          }
        }
      }
    },
    "/data/driver_stats_by_category/dirt_road": {
      "get": {
        "summary": "/data/driver_stats_by_category/dirt_road",
        "description": "Access the /data/driver_stats_by_category/dirt_road endpoint.",
        "operationId": "Dirt_roadDriver_stats_by_category",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "Raw CSV data. First line is usually the header."
                }
              }
            }
          }
        }
      }
    },
    "/data/driver_stats_by_category/formula_car": {
      "get": {
        "summary": "/data/driver_stats_by_category/formula_car",
        "description": "Access the /data/driver_stats_by_category/formula_car endpoint.",
        "operationId": "Formula_carDriver_stats_by_category",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "Raw CSV data. First line is usually the header."
                }
              }
            }
          }
        }
      }
    },
    "/data/driver_stats_by_category/oval": {
      "get": {
        "summary": "/data/driver_stats_by_category/oval",
        "description": "Access the /data/driver_stats_by_category/oval endpoint.",
        "operationId": "OvalDriver_stats_by_category",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "Raw CSV data. First line is usually the header."
                }
              }
            }
          }
        }
      }
    },
    "/data/driver_stats_by_category/road": {
      "get": {
        "summary": "/data/driver_stats_by_category/road",
        "description": "Access the /data/driver_stats_by_category/road endpoint.",
        "operationId": "RoadDriver_stats_by_category",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "Raw CSV data. First line is usually the header."
                }
              }
            }
          }
        }
      }
    },
    "/data/driver_stats_by_category/sports_car": {
      "get": {
        "summary": "/data/driver_stats_by_category/sports_car",
        "description": "Access the /data/driver_stats_by_category/sports_car endpoint.",
        "operationId": "Sports_carDriver_stats_by_category",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "description": "Raw CSV data. First line is usually the header."
                }
              }
            }
          }
        }
      }
    },
    "/data/hosted/combined_sessions": {
      "get": {
        "summary": "/data/hosted/combined_sessions",
        "description": "Access the /data/hosted/combined_sessions endpoint.",
        "operationId": "Combined_sessionsHosted",
        "parameters": [
          {
            "name": "package_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedCombined_sessionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/hosted/sessions": {
      "get": {
        "summary": "/data/hosted/sessions",
        "description": "Access the /data/hosted/sessions endpoint.",
        "operationId": "SessionsHosted",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HostedSessionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/cust_league_sessions": {
      "get": {
        "summary": "/data/league/cust_league_sessions",
        "description": "Access the /data/league/cust_league_sessions endpoint.",
        "operationId": "Cust_league_sessionsLeague",
        "parameters": [
          {
            "name": "mine",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "package_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueCust_league_sessionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/directory": {
      "get": {
        "summary": "/data/league/directory",
        "description": "Access the /data/league/directory endpoint.",
        "operationId": "DirectoryLeague",
        "parameters": [
          {
            "name": "lowerbound",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "maximum_roster_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "minimum_roster_count",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "restrict_to_friends",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "restrict_to_member",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "restrict_to_recruiting",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "restrict_to_watched",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "upperbound",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueDirectoryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/get": {
      "get": {
        "summary": "/data/league/get",
        "description": "Access the /data/league/get endpoint.",
        "operationId": "GetLeague",
        "parameters": [
          {
            "name": "include_licenses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/get_points_systems": {
      "get": {
        "summary": "/data/league/get_points_systems",
        "description": "Access the /data/league/get_points_systems endpoint.",
        "operationId": "Get_points_systemsLeague",
        "parameters": [
          {
            "name": "league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueGet_points_systemsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/membership": {
      "get": {
        "summary": "/data/league/membership",
        "description": "Access the /data/league/membership endpoint.",
        "operationId": "MembershipLeague",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_league",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueMembershipResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/roster": {
      "get": {
        "summary": "/data/league/roster",
        "description": "Access the /data/league/roster endpoint.",
        "operationId": "RosterLeague",
        "parameters": [
          {
            "name": "include_licenses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueRosterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/season_sessions": {
      "get": {
        "summary": "/data/league/season_sessions",
        "description": "Access the /data/league/season_sessions endpoint.",
        "operationId": "Season_sessionsLeague",
        "parameters": [
          {
            "name": "league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "results_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueSeason_sessionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/season_standings": {
      "get": {
        "summary": "/data/league/season_standings",
        "description": "Access the /data/league/season_standings endpoint.",
        "operationId": "Season_standingsLeague",
        "parameters": [
          {
            "name": "car_class_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "car_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueSeason_standingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/league/seasons": {
      "get": {
        "summary": "/data/league/seasons",
        "description": "Access the /data/league/seasons endpoint.",
        "operationId": "SeasonsLeague",
        "parameters": [
          {
            "name": "league_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "retired",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LeagueSeasonsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/lookup/countries": {
      "get": {
        "summary": "/data/lookup/countries",
        "description": "Access the /data/lookup/countries endpoint.",
        "operationId": "CountriesLookup",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupCountriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/lookup/drivers": {
      "get": {
        "summary": "/data/lookup/drivers",
        "description": "Access the /data/lookup/drivers endpoint.",
        "operationId": "DriversLookup",
        "parameters": [
          {
            "name": "league_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search_term",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupDriversResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/lookup/flairs": {
      "get": {
        "summary": "/data/lookup/flairs",
        "description": "Access the /data/lookup/flairs endpoint.",
        "operationId": "FlairsLookup",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupFlairsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/lookup/get": {
      "get": {
        "summary": "/data/lookup/get",
        "description": "Access the /data/lookup/get endpoint.",
        "operationId": "GetLookup",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/lookup/licenses": {
      "get": {
        "summary": "/data/lookup/licenses",
        "description": "Access the /data/lookup/licenses endpoint.",
        "operationId": "LicensesLookup",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LookupLicensesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/member/award_instances": {
      "get": {
        "summary": "/data/member/award_instances",
        "description": "Access the /data/member/award_instances endpoint.",
        "operationId": "Award_instancesMember",
        "parameters": [
          {
            "name": "award_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberAward_instancesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/member/awards": {
      "get": {
        "summary": "/data/member/awards",
        "description": "Access the /data/member/awards endpoint.",
        "operationId": "AwardsMember",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberAwardsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/member/chart_data": {
      "get": {
        "summary": "/data/member/chart_data",
        "description": "Access the /data/member/chart_data endpoint.",
        "operationId": "Chart_dataMember",
        "parameters": [
          {
            "name": "category_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chart_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberChart_dataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/member/get": {
      "get": {
        "summary": "/data/member/get",
        "description": "Access the /data/member/get endpoint.",
        "operationId": "GetMember",
        "parameters": [
          {
            "name": "cust_ids",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_licenses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/member/info": {
      "get": {
        "summary": "/data/member/info",
        "description": "Access the /data/member/info endpoint.",
        "operationId": "InfoMember",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/member/participation_credits": {
      "get": {
        "summary": "/data/member/participation_credits",
        "description": "Access the /data/member/participation_credits endpoint.",
        "operationId": "Participation_creditsMember",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberParticipation_creditsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/member/profile": {
      "get": {
        "summary": "/data/member/profile",
        "description": "Access the /data/member/profile endpoint.",
        "operationId": "ProfileMember",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MemberProfileResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/results/event_log": {
      "get": {
        "summary": "/data/results/event_log",
        "description": "Access the /data/results/event_log endpoint.",
        "operationId": "Event_logResults",
        "parameters": [
          {
            "name": "simsession_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subsession_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsEvent_logResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/results/get": {
      "get": {
        "summary": "/data/results/get",
        "description": "Access the /data/results/get endpoint.",
        "operationId": "GetResults",
        "parameters": [
          {
            "name": "include_licenses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subsession_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/results/lap_chart_data": {
      "get": {
        "summary": "/data/results/lap_chart_data",
        "description": "Access the /data/results/lap_chart_data endpoint.",
        "operationId": "Lap_chart_dataResults",
        "parameters": [
          {
            "name": "simsession_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subsession_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsLap_chart_dataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/results/lap_data": {
      "get": {
        "summary": "/data/results/lap_data",
        "description": "Access the /data/results/lap_data endpoint.",
        "operationId": "Lap_dataResults",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "simsession_number",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subsession_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsLap_dataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/results/search_series": {
      "get": {
        "summary": "/data/results/search_series",
        "description": "Access the /data/results/search_series endpoint.",
        "operationId": "Search_seriesResults",
        "parameters": [
          {
            "name": "category_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "event_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finish_range_begin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "finish_range_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "official_only",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "race_week_num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_quarter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "series_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_range_begin",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "start_range_end",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsSearch_seriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/results/season_results": {
      "get": {
        "summary": "/data/results/season_results",
        "description": "Access the /data/results/season_results endpoint.",
        "operationId": "Season_resultsResults",
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "race_week_num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResultsSeason_resultsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/season/list": {
      "get": {
        "summary": "/data/season/list",
        "description": "Access the /data/season/list endpoint.",
        "operationId": "ListSeason",
        "parameters": [
          {
            "name": "season_quarter",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/season/race_guide": {
      "get": {
        "summary": "/data/season/race_guide",
        "description": "Access the /data/season/race_guide endpoint.",
        "operationId": "Race_guideSeason",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "include_end_after_from",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonRace_guideResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/season/spectator_subsessionids": {
      "get": {
        "summary": "/data/season/spectator_subsessionids",
        "description": "Access the /data/season/spectator_subsessionids endpoint.",
        "operationId": "Spectator_subsessionidsSeason",
        "parameters": [
          {
            "name": "event_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonSpectator_subsessionidsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/season/spectator_subsessionids_detail": {
      "get": {
        "summary": "/data/season/spectator_subsessionids_detail",
        "description": "Access the /data/season/spectator_subsessionids_detail endpoint.",
        "operationId": "Spectator_subsessionids_detailSeason",
        "parameters": [
          {
            "name": "event_types",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeasonSpectator_subsessionids_detailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/series/assets": {
      "get": {
        "summary": "/data/series/assets",
        "description": "Access the /data/series/assets endpoint.",
        "operationId": "AssetsSeries",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesAssetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/series/get": {
      "get": {
        "summary": "/data/series/get",
        "description": "Access the /data/series/get endpoint.",
        "operationId": "GetSeries",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/series/past_seasons": {
      "get": {
        "summary": "/data/series/past_seasons",
        "description": "Access the /data/series/past_seasons endpoint.",
        "operationId": "Past_seasonsSeries",
        "parameters": [
          {
            "name": "series_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesPast_seasonsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/series/season_list": {
      "get": {
        "summary": "/data/series/season_list",
        "description": "Access the /data/series/season_list endpoint.",
        "operationId": "Season_listSeries",
        "parameters": [
          {
            "name": "include_series",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_quarter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesSeason_listResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/series/season_schedule": {
      "get": {
        "summary": "/data/series/season_schedule",
        "description": "Access the /data/series/season_schedule endpoint.",
        "operationId": "Season_scheduleSeries",
        "parameters": [
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesSeason_scheduleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/series/seasons": {
      "get": {
        "summary": "/data/series/seasons",
        "description": "Access the /data/series/seasons endpoint.",
        "operationId": "SeasonsSeries",
        "parameters": [
          {
            "name": "include_series",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_quarter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesSeasonsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/series/stats_series": {
      "get": {
        "summary": "/data/series/stats_series",
        "description": "Access the /data/series/stats_series endpoint.",
        "operationId": "Stats_seriesSeries",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SeriesStats_seriesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/session/reg_drivers_list": {
      "get": {
        "summary": "/data/session/reg_drivers_list",
        "description": "Access the /data/session/reg_drivers_list endpoint.",
        "operationId": "Reg_drivers_listSession",
        "parameters": [
          {
            "name": "subsession_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionReg_drivers_listResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/member_bests": {
      "get": {
        "summary": "/data/stats/member_bests",
        "description": "Access the /data/stats/member_bests endpoint.",
        "operationId": "Member_bestsStats",
        "parameters": [
          {
            "name": "car_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsMember_bestsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/member_career": {
      "get": {
        "summary": "/data/stats/member_career",
        "description": "Access the /data/stats/member_career endpoint.",
        "operationId": "Member_careerStats",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsMember_careerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/member_division": {
      "get": {
        "summary": "/data/stats/member_division",
        "description": "Access the /data/stats/member_division endpoint.",
        "operationId": "Member_divisionStats",
        "parameters": [
          {
            "name": "event_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsMember_divisionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/member_recap": {
      "get": {
        "summary": "/data/stats/member_recap",
        "description": "Access the /data/stats/member_recap endpoint.",
        "operationId": "Member_recapStats",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsMember_recapResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/member_recent_races": {
      "get": {
        "summary": "/data/stats/member_recent_races",
        "description": "Access the /data/stats/member_recent_races endpoint.",
        "operationId": "Member_recent_racesStats",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsMember_recent_racesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/member_summary": {
      "get": {
        "summary": "/data/stats/member_summary",
        "description": "Access the /data/stats/member_summary endpoint.",
        "operationId": "Member_summaryStats",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsMember_summaryResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/member_yearly": {
      "get": {
        "summary": "/data/stats/member_yearly",
        "description": "Access the /data/stats/member_yearly endpoint.",
        "operationId": "Member_yearlyStats",
        "parameters": [
          {
            "name": "cust_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsMember_yearlyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/season_driver_standings": {
      "get": {
        "summary": "/data/stats/season_driver_standings",
        "description": "Access the /data/stats/season_driver_standings endpoint.",
        "operationId": "Season_driver_standingsStats",
        "parameters": [
          {
            "name": "car_class_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "race_week_num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSeason_driver_standingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/season_qualify_results": {
      "get": {
        "summary": "/data/stats/season_qualify_results",
        "description": "Access the /data/stats/season_qualify_results endpoint.",
        "operationId": "Season_qualify_resultsStats",
        "parameters": [
          {
            "name": "car_class_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "race_week_num",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSeason_qualify_resultsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/season_supersession_standings": {
      "get": {
        "summary": "/data/stats/season_supersession_standings",
        "description": "Access the /data/stats/season_supersession_standings endpoint.",
        "operationId": "Season_supersession_standingsStats",
        "parameters": [
          {
            "name": "car_class_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "race_week_num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSeason_supersession_standingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/season_team_standings": {
      "get": {
        "summary": "/data/stats/season_team_standings",
        "description": "Access the /data/stats/season_team_standings endpoint.",
        "operationId": "Season_team_standingsStats",
        "parameters": [
          {
            "name": "car_class_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "race_week_num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSeason_team_standingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/season_tt_results": {
      "get": {
        "summary": "/data/stats/season_tt_results",
        "description": "Access the /data/stats/season_tt_results endpoint.",
        "operationId": "Season_tt_resultsStats",
        "parameters": [
          {
            "name": "car_class_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "race_week_num",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSeason_tt_resultsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/season_tt_standings": {
      "get": {
        "summary": "/data/stats/season_tt_standings",
        "description": "Access the /data/stats/season_tt_standings endpoint.",
        "operationId": "Season_tt_standingsStats",
        "parameters": [
          {
            "name": "car_class_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "division",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "race_week_num",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsSeason_tt_standingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/stats/world_records": {
      "get": {
        "summary": "/data/stats/world_records",
        "description": "Access the /data/stats/world_records endpoint.",
        "operationId": "World_recordsStats",
        "parameters": [
          {
            "name": "car_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_quarter",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "season_year",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "track_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatsWorld_recordsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/team/get": {
      "get": {
        "summary": "/data/team/get",
        "description": "Access the /data/team/get endpoint.",
        "operationId": "GetTeam",
        "parameters": [
          {
            "name": "include_licenses",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamGetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/team/membership": {
      "get": {
        "summary": "/data/team/membership",
        "description": "Access the /data/team/membership endpoint.",
        "operationId": "MembershipTeam",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TeamMembershipResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/time_attack/member_season_results": {
      "get": {
        "summary": "/data/time_attack/member_season_results",
        "description": "Access the /data/time_attack/member_season_results endpoint.",
        "operationId": "Member_season_resultsTime_attack",
        "parameters": [
          {
            "name": "ta_comp_season_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Time_attackMember_season_resultsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/track/assets": {
      "get": {
        "summary": "/data/track/assets",
        "description": "Access the /data/track/assets endpoint.",
        "operationId": "AssetsTrack",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackAssetsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/data/track/get": {
      "get": {
        "summary": "/data/track/get",
        "description": "Access the /data/track/get endpoint.",
        "operationId": "GetTrack",
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrackGetResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CarAssetsResponse": {
        "type": "object",
        "description": "Auto-generated for endpoint /data/car/assets (no required parameters)",
        "additionalProperties": {
          "type": "object",
          "properties": {
            "car_id": {
              "type": "integer"
            },
            "car_rules": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "rule_category": {
                    "type": "string"
                  },
                  "text": {
                    "type": "string"
                  }
                },
                "required": [
                  "rule_category",
                  "text"
                ]
              }
            },
            "detail_copy": {
              "type": "string"
            },
            "detail_screen_shot_images": {
              "type": "string"
            },
            "detail_techspecs_copy": {
              "type": "string"
            },
            "folder": {
              "type": "string"
            },
            "gallery_images": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "type": "string"
                }
              ]
            },
            "gallery_prefix": {
              "type": "null"
            },
            "group_image": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "type": "string"
                }
              ]
            },
            "group_name": {
              "type": "null"
            },
            "large_image": {
              "type": "string"
            },
            "logo": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
            "small_image": {
              "type": "string"
            },
            "sponsor_logo": {
              "oneOf": [
                {
                  "type": "null"
                },
                {
                  "type": "string"
                }
              ]
            },
            "template_path": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          "required": [
            "car_id",
            "car_rules",
            "detail_copy",
            "detail_screen_shot_images",
            "detail_techspecs_copy",
            "folder",
            "gallery_images",
            "group_image",
            "large_image",
            "logo",
            "small_image",
            "sponsor_logo",
            "template_path"
          ]
        }
      },
      "CarGetResponse": {
        "type": "array",
        "description": "Auto-generated for endpoint /data/car/get (no required parameters)",
        "items": {
          "type": "object",
          "properties": {
            "ai_enabled": {
              "type": "boolean"
            },
            "allow_number_colors": {
              "type": "boolean"
            },
            "allow_number_font": {
              "type": "boolean"
            },
            "allow_sponsor1": {
              "type": "boolean"
            },
            "allow_sponsor2": {
              "type": "boolean"
            },
            "allow_wheel_color": {
              "type": "boolean"
            },
            "award_exempt": {
              "type": "boolean"
            },
            "car_config_defs": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "carcfg": {
                    "type": "integer"
                  },
                  "cfg_subdir": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "custom_paint_ext": {
                    "oneOf": [
                      {
                        "type": "null"
                      },
                      {
                        "type": "string"
                      }
                    ]
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "carcfg",
                  "cfg_subdir",
                  "custom_paint_ext",
                  "name"
                ]
              }
            },
            "car_configs": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "carcfg": {
                    "type": "integer"
                  },
                  "track_id": {
                    "type": "integer"
                  },
                  "track_type": {
                    "type": "integer"
                  }
                },
                "required": [
                  "carcfg"
                ]
              }
            },
            "car_dirpath": {
              "type": "string"
            },
            "car_id": {
              "type": "integer"
            },
            "car_make": {
              "type": "string"
            },
            "car_model": {
              "type": "string"
            },
            "car_name": {
              "type": "string"
            },
            "car_name_abbreviated": {
              "type": "string"
            },
            "car_types": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "car_type": {
                    "type": "string"
                  }
                },
                "required": [
                  "car_type"
                ]
              }
            },
            "car_weight": {
              "type": "integer"
            },
            "categories": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "created": {
              "type": "string"
            },
            "first_sale": {
              "type": "string"
            },
            "folder": {
              "type": "string"
            },
            "forum_url": {
              "type": "string"
            },
            "free_with_subscription": {
              "type": "boolean"
            },
            "has_headlights": {
              "type": "boolean"
            },
            "has_multiple_dry_tire_types": {
              "type": "boolean"
            },
            "has_rain_capable_tire_types": {
              "type": "boolean"
            },
            "hp": {
              "type": "integer"
            },
            "is_ps_purchasable": {
              "type": "boolean"
            },
            "logo": {
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
            "max_power_adjust_pct": {
              "type": "integer"
            },
            "max_weight_penalty_kg": {
              "type": "integer"
            },
            "min_power_adjust_pct": {
              "type": "integer"
            },
            "package_id": {
              "type": "integer"
            },
            "paint_rules": {
              "type": "object",
              "properties": {
                "0": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "AllowNumberColorChanges",
                    "AllowNumberFontChanges",
                    "Color1",
                    "Color2",
                    "Color3",
                    "NumberColor1",
                    "NumberColor2",
                    "NumberColor3",
                    "NumberFont",
                    "PaintCarAvailable",
                    "PaintWheelAvailable",
                    "RimType",
                    "RimTypeAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available",
                    "WheelColor"
                  ]
                },
                "1": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "Color1",
                    "Color2",
                    "Color3",
                    "PaintCarAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available"
                  ]
                },
                "2": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "AllowNumberColorChanges",
                    "AllowNumberFontChanges",
                    "Color1",
                    "Color2",
                    "Color3",
                    "NumberColor1",
                    "NumberColor2",
                    "NumberColor3",
                    "NumberFont",
                    "PaintCarAvailable",
                    "PaintWheelAvailable",
                    "RimType",
                    "RimTypeAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available",
                    "WheelColor"
                  ]
                },
                "3": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "AllowNumberColorChanges",
                    "AllowNumberFontChanges",
                    "Color1",
                    "Color2",
                    "Color3",
                    "NumberColor1",
                    "NumberColor2",
                    "NumberColor3",
                    "NumberFont",
                    "PaintCarAvailable",
                    "PaintWheelAvailable",
                    "RimType",
                    "RimTypeAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available",
                    "WheelColor"
                  ]
                },
                "4": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "AllowNumberColorChanges",
                    "AllowNumberFontChanges",
                    "Color1",
                    "Color2",
                    "Color3",
                    "NumberColor1",
                    "NumberColor2",
                    "NumberColor3",
                    "NumberFont",
                    "PaintCarAvailable",
                    "PaintWheelAvailable",
                    "RimType",
                    "RimTypeAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available",
                    "WheelColor"
                  ]
                },
                "5": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "AllowNumberColorChanges",
                    "AllowNumberFontChanges",
                    "Color1",
                    "Color2",
                    "Color3",
                    "NumberColor1",
                    "NumberColor2",
                    "NumberColor3",
                    "NumberFont",
                    "PaintCarAvailable",
                    "PaintWheelAvailable",
                    "RimType",
                    "RimTypeAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available",
                    "WheelColor"
                  ]
                },
                "6": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "AllowNumberColorChanges",
                    "AllowNumberFontChanges",
                    "Color1",
                    "Color2",
                    "Color3",
                    "NumberColor1",
                    "NumberColor2",
                    "NumberColor3",
                    "NumberFont",
                    "PaintCarAvailable",
                    "PaintWheelAvailable",
                    "RimType",
                    "RimTypeAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available",
                    "WheelColor"
                  ]
                },
                "7": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "AllowNumberColorChanges",
                    "AllowNumberFontChanges",
                    "Color1",
                    "Color2",
                    "Color3",
                    "NumberColor1",
                    "NumberColor2",
                    "NumberColor3",
                    "NumberFont",
                    "PaintCarAvailable",
                    "PaintWheelAvailable",
                    "RimType",
                    "RimTypeAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available",
                    "WheelColor"
                  ]
                },
                "8": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
                    "PaintWheelAvailable": {
                      "type": "boolean"
                    },
                    "RimType": {
                      "type": "string"
                    },
                    "RimTypeAvailable": {
                      "type": "boolean"
                    },
                    "RulesExplanation": {
                      "type": "string"
                    },
                    "Sponsor1": {
                      "type": "string"
                    },
                    "Sponsor1Available": {
                      "type": "boolean"
                    },
                    "Sponsor2": {
                      "type": "string"
                    },
                    "Sponsor2Available": {
                      "type": "boolean"
                    },
                    "WheelColor": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "AllowNumberColorChanges",
                    "AllowNumberFontChanges",
                    "Color1",
                    "Color2",
                    "Color3",
                    "NumberColor1",
                    "NumberColor2",
                    "NumberColor3",
                    "NumberFont",
                    "PaintCarAvailable",
                    "PaintWheelAvailable",
                    "RimType",
                    "RimTypeAvailable",
                    "RulesExplanation",
                    "Sponsor1",
                    "Sponsor1Available",
                    "Sponsor2",
                    "Sponsor2Available",
                    "WheelColor"
                  ]
                },
                "9": {
                  "type": "object",
                  "properties": {
                    "AllowNumberColorChanges": {
                      "type": "boolean"
                    },
                    "AllowNumberFontChanges": {
                      "type": "boolean"
                    },
                    "Color1": {
                      "type": "string"
                    },
                    "Color2": {
                      "type": "string"
                    },
                    "Color3": {
                      "type": "string"
                    },
                    "NumberColor1": {
                      "type": "string"
                    },
                    "NumberColor2": {
                      "type": "string"
                    },
                    "NumberColor3": {
                      "type": "string"
                    },
                    "NumberFont": {
                      "type": "string"
                    },
                    "PaintCarAvailable": {
                      "type": "boolean"
                    },
[...]
